* {
  margin: 0px;
  padding: 0px;
}
body {
  animation: fadeIn ease 1s forwards;
}
#container {
  background-image: url("img/pexels-mihis-alex-21014.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.flexlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

a {
  text-decoration: none;
  color: black;
}
.main {
  margin: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-outline-dark {
  font-weight: bolder;
  font-size: xx-large;
  margin: 0px 100px 0px 100px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadein {
  animation: fadeIn cubic-bezier(1, 0, 1, 1) 1.5s forwards;
}
